.edit-form {
  display: flex;
  gap: 30px;
  padding: 10px;
  margin-bottom: 30px;
  &__label {
    width: 100%;
  }
  &__input {
    width: 100%;
    background-color: #c9c7c7;
    padding: 10px;
    border-radius: 7px;
  }
  &__button {
    padding: 5px 7px;
    border-radius: 4px;
    background-color: #afafaf;
    color: white;
    &:hover {
      background-color: #727372;
    }
  }
}
